<h1>メール送信 to <%= @user.name %></h1>
<h2>選ばれた今日のメイン食材は<%= @today_main_food.name %>.</h2>
<h2>レシピ</h2>
<% @recipes.each do |recipe| %>
  <section>
    <h3>レシピ名 <%= recipe.name %></h3>
  </section>
<% end %>
